body,html{
    width:100%;height:100%;margin:0;padding:0;overflow: hidden;
}
a{
    color: #fff;text-decoration: none;font-family: "Microsoft Yahei";
}
header{
    width:100%;height:60px;background:#168bd8;position: fixed;top:0;left:0;z-index:999;
}
nav{
    width:1000px;height:100%;margin:0 auto;display: flex;flex-wrap:nowrap;justify-content: space-between;
}
header .logo{
    width:120px;height:40px;background: url("../img/header.png") no-repeat;margin-top: 10px;
}
header .index{
    align-self: flex-end;margin-bottom:9px;font-size: 15px;margin-right: 20px;
}
header .last{
    align-self: flex-end;font-size: 12px;margin-bottom: 7px;
}
header a:nth-of-type(2){
    margin-left:70px;
}
header a:nth-of-type(5){
    margin-left:190px;position: relative;
}
header .last>i{
    width:32px;height:25px;display: inline-block;background: url("../img/header.png") no-repeat -88px -154px;
}
.oriange{
    color:#FFDA28;
}
.hidden{
    width:320px;height:260px;position: absolute;top:25px;left:-120px;border-radius: 5px 5px 0 0;overflow: hidden;display:none;
}
header a:nth-of-type(5):hover .hidden{
    display: block;
}
.hidden .hidden-sanjiao{
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid #fff;
    position: absolute;top:2px;left:0;right:0;margin:auto;z-index:99;
}
.hidden .hidden-top{
    width:100%;height:43px;background:#f1f1f1;font-size: 18px;font-family: microsoft yahei;color:#333;text-align: center;line-height: 43px;position:absolute;top:10px;left:0;border-radius: 5px 5px 0 0;
}
.hidden .hidden-con{
    width:100%;height:200px;background:#fff;margin-top:50px;
}
.android{
    width:120px;height:120px;background:url("../img/header.png") no-repeat 0 -182px;float:left;margin:20px 0 0 25px;
}
.ios{
    width:120px;height:120px;background:url("../img/header.png") no-repeat 0 -305px;float:left;margin:20px 0 0 25px;
}
.android i,.ios i{
    color:#333;font-style:normal;position: absolute;bottom:30px;left:70px;
}
.ios i{
    left:220px;
}


#fullpage{
    width:100%;height:100%;
}
section{
    width:100%;height:100%;position: relative;
}
section:nth-child(1){
    background: url("../img/bg1.jpg") no-repeat center;
}
section:nth-child(2){
    background: url("../img/bg2.jpg") no-repeat center;
}
section:nth-child(3){
    background: url("../img/bg3.jpg") no-repeat center;
}
section:nth-child(4){
    background: url("../img/bg4.jpg") no-repeat center;
}
/*第一屏*/
#fullpage .flight{
    top: 100px;
    left: 180px;
    position: absolute;
    width: 100%;
}
.flight img:nth-child(1){
    top: 0;
    left: 0;
    position: absolute;
}
.flight img:nth-child(2){
    top: 10px;
    left: 300px;
    position: absolute;
    transition: all 0.5s ease;
    animation: flight 1s linear infinite alternate;
}
@keyframes flight {
    100% {
        transform: translateY(-10px);
    }
}
#fullpage .forward-head{
    background: url("../img/bg2.jpg") repeat scroll 0 0;
    height: 126px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.forward-head .zuan1{
    position: absolute;
    background:url("../img/hill1.png") repeat scroll 0 0;
    height: 175px;
    left: 0px;
    top: -50px;
    width: 265px;
}
.forward-head .zuan2{
    background: url("../img/hill2.png") repeat scroll 0 0;
    height: 78px;
    right: 400px;
    position: absolute;
    top: -15px;
    width: 63px;
}
.forward-head .zuan3{
    background: url("../img/hill3.png") repeat scroll 0 0;
    height: 175px;
    right: 0px;
    top: -47px;
    width: 260px;
    position: absolute;
}
.forward-head .ship {
    position: absolute;
    background:url("../img/ship.png") repeat scroll 0 0;
    height: 228px;
    left: 320px;
    top: -191px;
    width: 242px;
    transition: all 1s;
}
/*表单*/
.login{
    height: 300px;
    width: 340px;
    border-radius: 5px;
    background: #4ebffc;
    position: absolute;
    right: 183px;
    top:110px;    padding: 0 20px;
    box-sizing: border-box;
}
.login form{
    padding-top: 26px;

}
.user,.pass{
    width: 299px;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #bdc7d3;
    height: 40px;
    background: #fff;
}
.user>input,.pass>input{
    width: 252px;
    border: 0;
    outline: none;
    padding: 9px;
    color: #666;
}
.user>span{
    display: inline-block;
    background: url(../img/icons.png?20140305) no-repeat -124px -12px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
}
.pass>span{
    display: inline-block;
    background: url(../img/icons.png?20140305) no-repeat -140px -12px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
}
.error{
    color: red;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    visibility: hidden;
    font-size: 13px;
    max-width: 270px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    display: block;
    margin: 0;
    text-align: left;
}
.toke{
    height:36px;
}
.toke>input{
    border: 0;
    outline: none;
    border: 1px solid #bdc7d3;
    padding: 9px;
    width: 122px;
    background: #fff;
    color: #666;
    float: left;
}
.toke>img{
    width: 99px;
    margin-left: 10px;
    height: 36px;
    float: left;
}
.toke>a{
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 12px;
    float: left;
    text-decoration: none;
    cursor: pointer;
}
.toke>a:hover{
    color: #2e7ecd;
}
.login-sub>input{
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;
    margin-top: 12px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}
.other{
    margin: 12px 0 8px;
    font-size: 12px;
    color: #9dbcdb;
}
.other a{
    color: #fff;
    text-decoration: none;
    line-height: 17px;
}
.left a{
    margin-top: -5px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.left>span{
    display: block;
    float: left;
    width: 15px;
    height: 17px;
    background: url(../img/icons.png?20140305) no-repeat -203px -75px;
    margin: 2px 4px 0 0;
}

/*第二屏*/
#fullpage .twobottom{
    width: 100%;
    position: absolute;
    height: 90px;
    left: 0;
    bottom: 0;
}
#fullpage .twoleft{
    color: #fff;
    font-family: "Microsoft Yahei";
    position: absolute;
    top: 150px;
    left: 250px;
    width: 500px;
}
#fullpage .tworight{
    position: absolute;
    top: 0;
    right: 0;
}
.twoleft h3{
    display: block;
    float: left;
    height: 126px;
    text-indent: -9999em;
    margin-top: 50px;
    width: 66px;
    animation: rotate 1.2s infinite 0s;
    background:url("../img/lingxian.png") no-repeat scroll 0 0
}
.twoleft .tltext{
    margin-left: 86px;
    margin-top: 8px;
}
.twoleft .tltext h4{
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 48px;
    margin-bottom: 6px;
    margin-top: 45px;
}
.twoleft .tltext p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: 0.8;
}
@keyframes rotate{
    100%{
        transform: rotateY(360deg);
    }
}
.tworight img{
    height: 427px;
    position: absolute;
    right: 100px;
    top: 120px;
    width: 444px;
}